/*font-family: 'Montserrat', sans-serif; font-family: 'Roboto', sans-serif;	font-family: 'Kaushan Script', cursive;*/

@import 'var.sass'

* 
	font-family: 'Roboto', sans-serif
	line-height: 1.6
	box-sizing: border-box

body 
	margin: 0
	padding: 0
	background-color: $base

h1,h2,h3,h4,h5,h6
	font-family: 'Montserrat', sans-serif
	line-height: 1.6

.container
	max-width: 1200px
	margin: 0 auto
	padding-left: 10px
	padding-right: 10px

.flex-mod
	display: flex

.header__top-line
	width: 100%
	min-height: 40px
	padding-top: 10px
	background-color: $c-1
	color: $c-f-1
	a
		color: $c-f-1

.top-line__l-col,
.top-line__r-col
	display: inline-block
	width: 49%	 
	vertical-align: top

.l-col__wrapper
	display: flex

.r-col__wrapper
	display: flex
	width: 100% 
	justify-content: space-around

.header__lang-list
	list-style-type: none
	margin: 0
	padding: 0
	padding-left: 20px
	position: relative
	flex-grow: 0.4
	&::before
		content: ''
		display: block
		width: 15px
		height: 15px
		background-image: url('../img/svg/earth.svg')
		position: absolute
		top: 50%
		left: 0
		transform: translateY(-50%)
	li:last-of-type
		display: none

.top-line__tel
	flex-grow: .1

.top-line__login
	a
		&:last-of-type
			color: $c-f-2

.top-line__social-list
	list-style-type: none
	margin: 0
	padding: 0
	li
		display: inline-block
		vertical-align: top
		font-size: 0

.header__lang-list,
.top-line__tel,
.htop-line__mail,
.top-line__login,
.top-line__items
	padding-left: 20px
	position: relative
	&::before
		content: ''
		display: block
		width: 15px
		height: 15px
		background-image: url('../img/svg/earth.svg')
		background-repeat: no-repeat
		background-size: contain
		position: absolute
		top: 50%
		left: 0
		transform: translateY(-50%)

.top-line__tel
	&::before
		background-image: url('../img/svg/tel.svg')

.htop-line__mail
	&::before
		background-image: url('../img/svg/mail.svg')

.top-line__login
	&::before
		background-image: url('../img/svg/login.svg')

.top-line__items
	&::before
		background-image: url('../img/svg/wl.svg')

.top-line__items
	p,
	strong
		display: inline-block
		vertical-align: top
		margin: 0

.social-item
	display: block
	width: 20px
	height: 20px
	background-image: url('../img/svg/fb.svg')
	background-repeat: no-repeat
	background-size: contain
	fill: #555555

.header__logo a 
	display: block
	width: 150px
	height: 100px
	background-image: url('../img/svg/logo.svg')
	background-repeat: no-repeat
	background-size: contain
	background-position: center
	font-size: 0

.middle-line__wrapper
	display: flex
	width: 100%
	justify-content: space-around
	align-items: center

.header__logo
	flex-grow: .2

.header__menu-list,
.header__pictogram,
.footer__menu-list
	display: flex
	justify-content: space-around	
	margin: 0
	padding: 0
	list-style: none
	a 
		color: $c-f-1
		text-transform: uppercase
		text-decoration: none
		font-weight: bold
		&:hover
			color: $c-f-3

.header__menu-list,
.footer__menu-list
	flex-grow: .5
	li 
		position: relative
		&:hover:before
			content: ''
			display: block
			width: 10px
			height: 1px
			background-color: $c-f-3
			position: absolute
			top: 0
			left: 0

.header__pictogram
	flex-grow: .1
	a 
		font-size: 0
		background-repeat: no-repeat
		background-position: center
		display: block
		width: 20px
		height: 20px
	li	
		&:first-of-type a
			background-image: url('../img/svg/basket.svg')
		&:last-of-type a
			background-image: url('../img/svg/search.svg')

// Slider

.slider
	position: relative
	.nav-botton
		position: absolute
		top: 50%
		width: 100%
		.prev-botton
			left: 0
			position: absolute
		.next-botton
			right: 0
			position: absolute


.prev-botton,
.next-botton
	width: 30px
	height: 30px
	background-color: rgba(39, 39,39, .5)
	border-radius: 5px
	position: relative
	&:hover
		background-color: $c-f-3

.prev-botton
	&::before
		content: "\2039"
		position: absolute
		top: 38%
		left: 50%
		transform: translate(-50%, -50%)
		font-size: 40px
		color: $c-f-1
		line-height: 1

.next-botton
	&::before
		content: "\203A"
		position: absolute
		top: 38%
		left: 50%
		transform: translate(-50%, -50%)
		font-size: 40px
		color: $c-f-1
		line-height: 1

.prev-botton:hover:before,
.next-botton:hover:before
	color: #fff

.slider-wrapper
	width: 100%
	height: 765px
	position: relative

.slide
	height: 765px
	padding-top: 15%
	padding-left: 50%
	position: absolute
	opacity: 0
	.slide__title
		color: #fff
		font-size: 70px
		margin: 0
		text-transform: uppercase
		line-height: 1.2
		i 
			display: block
			font-size: 40px
			font-style: normal
			b 
				color: $c-f-3
	.slide__text
		font-size: 18px
		text-transform: uppercase
		color: $c-f-1

.slide__bnt_decor
	display: inline-block
	vertical-align: top
	padding: 16px 30px
	border-radius: 4px
	border: 2px solid #fff
	color: #fff
	text-transform: uppercase

.slide__buy
	background-color: $c-f-3
	border: none
	margin-right: 25px

.slide.shown
	opacity: 1
	transition: 1.6s

.nav-dots
	list-style: none
	li 
		display: inline-block
		width: 5px
		height: 5px
		right: 5px
		border-radius: 50%
		background-color: #fff
		position: absolute
		bottom: 20px
		left: 50%

	.sl-avtive
		background-color: $c-f-3

.slide-1
	background-image: url('../img/bg-slide.jpg')
	background-repeat: no-repeat
	background-position: 40% 0

.slide-2
	background-image: url('../img/bg-slide-2.jpg')
	background-size: cover
	padding-left: 10px
	padding-right: 60%

// Feature

.feature 
	padding: 75px 0
	background-color: $c-f-5

.feature-cart
	margin-right: 20px
	position: relative
	&:last-of-type
		margin-right: 0
	&::after
		content: ''
		display: block
		width: 25%
		height: 1px
		background-color: $c-f-3

.feature-cart__title
	color: $c-f-1
	font-size: 18px
.feature-cart__text
	color: $c-f-1
	font-size: 14px

// Portfolio

.portfolio
	padding: 75px 0

.portfolio-wrapper
	margin-bottom: 60px

.flex-mod__portfolio
	flex-wrap: wrap

.descr-block
	width: 302px
	flex-shrink: 0

.descr-block__title
	font-size: 30px
	color: #fff
	text-transform: uppercase

.descr-block__text
	font-size: 14px
	color: $c-f-4

.portfolio-cart__link
	display: block
	height: 100%
	img 
		height: 100%
		object-fit: cover

.portfolio-other__title
	font-size: 24px
	color: #fff
	text-transform: uppercase

.portfolio-other
	border: 5px solid $c-f-3
	flex: 1 auto
	padding-top: 35px
	padding-left: 35px
	background-image: url('../img/photo-5.jpg')
	background-repeat: no-repeat
	background-size: 120%
	background-position: center
	
.portfolio-other__text
	font-size: 12px
	text-transform: uppercase
	color: $c-f-4

.portfolio-link
	color: $c-f-3
	text-decoration: none

// Responsive

.responsive
	background-color: $c-f-5
	padding-top: 75px
	padding-bottom: 75px

.responsive-wrapper
	padding-left: 800px	

.responsive__title
	color: #fff
	font-size: 30px
	text-transform: uppercase
	margin-bottom: 30px
	&::before
		content: ''
		display: block
		width: 70px
		height: 1px
		background-color: $c-f-4

.responsive__text
	color: $c-f-4	
	font-size: 14px
	margin-bottom: 30px

.responsive__list
	list-style: none
	color: $c-f-1
	font-size: 14px
	margin-bottom: 50px
	li 
		position: relative
		margin-bottom: 25px
		&::before
			content: '\00af'
			color: $c-f-3
			position: absolute
			top: 7px
			left: -25px

.responsive__btn
	display: inline-block
	vertical-align: top
	padding: 16px 30px
	border-radius: 4px
	color: #fff
	background-color: $c-f-2
	text-transform: uppercase

// Clients

.clients
	padding-top: 76px
	padding-bottom: 75px
	background-color: $c-f-6

.cliens__slider-container
	justify-content: space-around

.clients__title
	font-size: 30px
	text-transform: uppercase
	color: #fff
	position: relative
	text-align: center
	&::before
		content: ''
		display: block
		width: 80px
		height: 2px
		background-color: $c-f-4
		position: absolute
		top: -15px
		left: 50%
		transform: translateX(-50%)

.clients__text
	color: $c-f-4
	padding-left: 20%
	padding-right: 20%
	text-align: center

//Footer

.flex-mod_footer-col
	justify-content: space-around
	align-items: stretch
	overflow: hidden

.footer__col
	width:calc( ( 100% - 0px ) / 3 )
	
.footer__col-mod
	padding-top: 60px
	padding-left: 35px
	padding-right: 35px
	padding-bottom: 60px
	height: 100%

.footer__title 
	color: #fff
	font-size: 24px
	text-transform: uppercase
	position: relative
	&::after
		content: ''
		display: block
		width: 70px
		height: 2px
		margin-top: 25px	
		background-color: $c-f-3

.about-bfooter__link
	display: block
	color: $c-f-3
	margin-bottom: 30px

.subs-block
	legend
		color: #fff
		font-weight: 600
		font-size: 18px
	label
		display: block

.subs-block__email
	input
		background-color: $c-f-4
		outline-color: #fff
		border: none
		padding: 5px
		margin-top: 20px
		margin-bottom: 20px

.subs-block__privacy-link
	color: $c-f-1
	font-size: 13px

.news-footer
	background-color: #202020

.about-footer__text,
.news-footer__news-block,
.contact-footer__row
	color: $c-f-1

.news-footer__news-block
	border-bottom: 1px solid $c-f-4
	padding-top: 20px
	padding-bottom: 20px
	&:last-of-type
		border: none

.news-footer__news-block:nth-of-type(odd)
	.news-footer__date-block
		background-color: #111
		
.news-footer__news-block:nth-of-type(even)
	.news-footer__date-block
		background-color: $c-f-3

.news-footer__date-block
	width: 40px
	height: 40px
	flex-shrink: 0
	text-align: center
	padding: 2px
	margin-right: 20px
	p2
	.news-footer__number
		font-size: 18px
		font-weight: bold
		color: #fff
		line-height: 1.2
	.news-footer__month
		font-size: 10px
		color: #fff

.contact-footer
	display: table
	background-color: #1b1b1b

.contact-footer__row
	display: table-row
	.contact-footer__cell:first-of-type
		width: 30%

.contact-footer__cell
	display: table-cell
	vertical-align: middle
	border-bottom: 1px solid $c-f-4

.contact-footer__row:last-of-type
	.contact-footer__cell
		border: none

.footer__social-list
	list-style: none
	display: flex
	margin: 0
	padding: 0
	justify-content: space-between
	a 
		font-size: 0

.footer__bottom-line
	padding: 25px 0
	background-color: #111111
	.flex-mod
		justify-content: space-between

small 
	color: $c-f-4

.footer__menu-list
	a 
		color: $c-f-4
		font-size: 12px