header
	.header__top-line
		.container.flex-mod
			.top-line__l-col
				.l-col__wrapper
					ul.header__lang-list
						li English
						li Русский
					.top-line__tel
						a(href="tel:+440875369208") +440875369208
					.htop-line__mail
						a(href="mailto:info@info.info") info@info.info
			.top-line__r-col
				.r-col__wrapper
					.top-line__login
						a(href="#") Sign in
						b /
						a(href="#") Register
					.top-line__items
						p.top-line__items-text Wishlist:
						strong 0 items
						//- ul.top-line__items-list
					ul.top-line__social-list
						li
							a(href="http://" class="social-item soc-fb") facebook
						li
							a(href="http://" class="social-item soc-tw") twitter
						li
							a(href="http://" class="social-item soc-t") tumblr
						li
							a(href="http://" class="social-item soc-ln") linkedin
						li
							a(href="http://" class="social-item soc-g") google+
						li
							a(href="http://" class="social-item soc-rss") rss
	.container
		.middle-line__wrapper
			.header__logo
				a(href="/") Exe
			ul.header__menu-list
				li
					a(href="") Home
				li
					a(href="") About us
				li
					a(href="") Page
				li
					a(href="") Features
				li
					a(href="") Portfolio
				li
					a(href="") Blog
				li
					a(href="") Shop
				li
					a(href="") Contacts
			ul.header__pictogram
				li
					a(href="") basket
				li
					a(href="") search